@import "./variables";



.index_wrapper{

      .banner__media.media.scroll-trigger.animate--fade-in {
        height:unset !important;
        height:100%;

        img {
          
          max-width:unset;
          width: 628px;
          height: 628px;
        }
      }
    }


.index_wrapper {
  .media > *:not(.zoom):not(.deferred-media__poster-button), .media.model-viewer {
    width: unset;
    height: unset;
    position:unset;
    width: 628px;
    height: 628px;

  }
}

.media{
  background-color: unset;
  margin:0;
  padding:0;
}


.image-with-textmedia.image-with-textmedia--adapt.global-media-settings.background-transparent.media{
  padding-bottom:unset;
}






.banner {
  .banner__media{
    width:628px;
    height:628px;
  }
}

.banner__content {
  .banner__box{
    flex-direction: column;
    justify-content: flex-start;
    bottom: 30rem;
    left: 20rem;
    display: block;
    padding-left: 5rem;

    box-sizing: border-box;
    display: block;
    /* padding-right: 24rem; */
    margin-right: 11rem;
    margin-top: 30rem;
    /* width: 456px; */
    height: 358px;

    .banner__text{

    }

    .banner__buttons{
      display: block;
      width:263px;
      height:56px;
      background-color: $primary-font-color;

      a{
        font-family: $secondary-font;
        color: $secondary-font-color;
        text-transform: uppercase;
        //line-height: 20;
        letter-spacing: 0.1px;
        font-size:14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .banner__heading{
      font-family: $primary-font;
      color: $primary-font-color;
      font-size: 56px;
    }
  }
}

.section-template--22329014452502__multicolumn_VR9DB9-padding{
  background-color: $secondary-bg-color;
}

// img-box
.media--adapt {
  padding-bottom:10%;
}













