@import "./variables";

.banner {
  .banner__media{
    width:628px;
    height:628px;
  }
}

.banner__content {
  .banner__box{
    flex-direction: column;
    justify-content: flex-start;
    bottom: 30rem;
    left: 20rem;
    display: block;
    padding-left: 5rem;

    box-sizing: border-box;
    display: block;
    /* padding-right: 24rem; */
    margin-right: 11rem;
    margin-top: 30rem;
    /* width: 456px; */
    height: 358px;

    .banner__text{

    }

    .banner__buttons{
      display: block;
      width:263px;
      height:56px;
      background-color: $primary-font-color;

      a{
        font-family: $secondary-font;
        color: $secondary-font-color;
        text-transform: uppercase;
        //line-height: 20;
        letter-spacing: 0.1px;
        font-size:14px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .banner__heading{
      font-family: $primary-font;
      color: $primary-font-color;
      font-size: 56px;
    }
  }
}

.section-template--22329014452502__multicolumn_VR9DB9-padding{
  background-color: $secondary-bg-color;
}

// img-box
.media--adapt {
  padding-bottom:10%;
}



.banner__content.banner__content--middle-center.page-width.scroll-trigger.animate--slide-in{
  height: 308px;
}

#shopify-section-template--22336695828758__image_banner_8Q9ntz{
  height: 400px;
}

#Banner-template--22336695828758__image_banner_8Q9ntz{
  height: 308px;
}










