@import "./variables";

.banner {
  .banner__media{
    width:628px;
    height:628px;
  }

}

.banner__content {

  .banner__box{

    flex-direction: column;
    justify-content: flex-start;
    bottom: 30rem;
    left: 20rem;
    display: block;
    padding-left: 5rem;


    .banner__heading{
      font-family: $primary-font;
      color: $primary-font-color;
      font-size: 56px;
    }
  }
}

.section-template--22329014452502__multicolumn_VR9DB9-padding{
  background-color: $secondary-bg-color;
}

// img-box
.media--adapt {
  padding-bottom:10%;
}

.multicolumn-list__item.center .media--adapt, .multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: 24px;
  height: 24px;
}
