@import "./variables";

.cart__items{
  float: left;
  width:50%;

  tbody {
    .cart-item {
      .cart-item__media {
        .cart-item__image-container {
          width: 100px;
          height: 100px;

          img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    .cart-item__details{
      // distance between product-img and product name
      padding-left:2rem;
      // Product name in cart
      a{
        width:190px;
      }
    }
  }
}

//tillfällig lösning
.shopify-section-template--22329014714646__cart-footer{
  height:500px;
}

/* ---- END of Cart items  ----- */

/* --- Start of Order Summary ---- */

.cart__blocks{
  float: right;
  z-index: -1;
  background-color: $secondary-bg-color;
  width: 501px;
  padding-bottom: 4rem;


  .js-contents{
    .totals{
      justify-content: flex-start;
      padding-left:2rem;
      padding-top:3rem;
    }

    .tax-note{
      display:flex;
      padding-left:2rem;
    }
  }

  // Check out-btn
  .cart_ctas{
    justify-content: center;
    margin:0 2rem 0 2rem;
  }
}


/* Delivery and retour-div (grey) */

@media screen and (min-width: 750px) {
  .rich-text__wrapper--left {
    justify-content: flex-end;
  }
}

.rich-text__wrapper {
  justify-content: flex-end;

  .rich-text__blocks {
    background-color: $secondary-bg-color;
    height: 336px;
    width: 501px;
    font-family: $secondary-font;
    color: $primary-font-color;
    padding: 20px 10px 20px 10px;

    h2 {
      font-size: 20px;
      padding: 0 0 0 0.8rem;
    }

    .rich-text__text {
      font-size: 14px;
      padding: 1rem;
      line-height: 4.5rem;
      margin:0;

      /* Adding great than-sign before p */
      p::before {
        content: "\003E"; /* ASCII code for ">" character/ greater than */
        color: black;
        margin-right: 5px; /* spacing  */
        font-weight: bold;
      }
    }
  }
}



