
// whole page
.sooyq{
    display: flex;
}

.jCic4_1fragemk3_1fragemk2{
    background-color: blue;
    height: 30%;
    height: unset;
}

._1fragemk3._1fragemk1._1fragemkf._1fragemb9._1fragemcj._1fragemdr._1fragemf1._1fragem8r._1fragema1._1fragemg9._1fragemhj._1fragemrm._1fragemir{
    left: 620px;
    top: -260px;
    width: 80% ;
    
}


