@import "./variables";

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  //border: 5px dashed greenyellow;

}

html {
  height: 100vh; /* For 100% screen height */
  display: block;
  //border: 5px dashed deeppink;

}

body{
  width: 100vw; /* For 100% screen width */
  max-width: 100%;
  padding:0;
  margin:auto;
  //border: 5px dashed blue;
}

/* Image for collections */
.card__inner {
  width:360px;
  height:360px;
  .card__media{
    width:360px;
    height:360px;
    .media{
      img {
        width:360px;
        height:360px;
      }
    }
  }
}

// text under collection image
.card__content{
  width:360px;
  .card__information{
    display:flex;
    justify-content: center;
    h3{
      a{
        font-family: $secondary-font;
        text-transform: uppercase;
        span{
          display:none; // remove arrow
        }
      }
    }
  }
}

// multi-column area (4)
.multicolumn{
  height: 216px;
  margin-bottom: 8rem;
  .page-width{
    height: 216px;

    .slider-mobile-gutter{
      ul{
        li{

          .multicolumn-card{
            width:25rem;

          .multicolumn-card__info{
            h3{
              font-family: $secondary-font;
              font-weight: 500;
              font-size:16px;
              letter-spacing: 0.15px;
            }

          }

            .multicolumn-card__image-wrapper {
              height:0;
              padding:0;

              .media{
                img{
                  //width: 24px;
                  //height: 24px;
                }
              }



            }
          }
        }
      }
    }

    // egen div
    .center{
      .button--primary{
        background-color: transparent;
        border: 1px solid black;
        width:281px;
        height:56px;
        margin-top: unset;

        font-family: $secondary-font;
        color: $primary-font-color;
        font-size:14px;
        letter-spacing: 0.1px;
        text-transform: uppercase;
      }

    }
  }
}
// icons
.multicolumn-list__item.center .media--adapt, .multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: 24px;
  height: 24px;
}




//ICON gray background

.page-width.section-template--22336695992598__multicolumn_VR9DB9-padding.isolate.scroll-trigger.animate--slide-in{
  background-color: #F4F4F4;
  width: 100%;
  max-width: unset;
}


.image-with-text__media.image-with-text__media--adapt.global-media-settings.background-transparent.media{
  padding-bottom: unset !important; 
}


