@import "./variables";

.swatch-input__label{
  background-color: #8d8686;
}

// Hide Buy it now-btn
.shopify-payment-button__button{
  display:none;
}

// Add to cart-btn
.product-form__submit {
  background-color: $primary-font-color;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border:none;
  width:264px;
  height:56px;

  &:hover{
    border:none;
    background-color: #727272;
    transition: 0.5s;
  }
}
// layout for text
.rich-text__blocks.left{
  height:unset !important;
}
.rich-text__wrapper.rich-text__wrapper--left.page-width{
  justify-content: flex-start !important;
}

// .rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in{
//   position: relative;
//   width: 150px;
//   left: 750px;
// }

.product_wrapper{
  .card__inner{
    width: 264px;
    height: 264px;
    .card__media{
      width: 264px;
      height: 264px;
      .media{
        width: 264px;
        height: 264px;
      }
    }

  }
}