

.swatch-input__label{
  background-color: #8d8686;
}

// Hide Buy it now-btn
.shopify-payment-button__button{
  display:none;
}

// Add to cart-btn
.product-form__submit {
  background-color: #777;
  color: white;
  padding: 25px;
  font-weight: bold;
  text-transform: uppercase;
  border:none;

  &:hover{
    border:none;
    background-color: #727272;
    transition: 0.5s;
  }
}
// layout for text
.rich-text__blocks.left{
  height:unset !important;
}
.rich-text__wrapper.rich-text__wrapper--left.page-width{
  justify-content: flex-start !important;
}

// .rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in{
//   position: relative;
//   width: 150px;
//   left: 750px;
// }

