@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// Fonts
$primary-font: "Prosto One", sans-serif;
$secondary-font:   "Montserrat", sans-serif;


// Font-color
$primary-font-color: #282828;
$secondary-font-color: #FFFFFF;

// Background-color
$primary-bg-color: #FEFEFE;
$secondary-bg-color: #F4F4F4;
